
body {
	margin: 0 auto;
}
img {
	width: 100%;
	height: 300px;
}

.people__container{
	background-color: lightblue;
	border-radius: 20px;
	padding: 5px;
	width: 188px;
	margin: 0 auto;
	display: inline-block;
}

.border{
	border: 5px dotted black;
}

.people__container:nth-child(even) {
	background-color: #FFD833;	
}

.people__container header, footer {
	font-size: 1.5em;
}

#output {
	margin-top: 93px;
}

